

[temperature_sensor ez_mcu]
sensor_type: temperature_mcu
sensor_mcu: mcu
min_temp: 0
max_temp: 120

# Host (BTT CB2) SoC temperature
[temperature_sensor cb2_soc]
sensor_type: temperature_host
min_temp: 0
max_temp: 120